@page "/cities"
@using lb6.Data
@inject CityServices cityServices
<h3>Cities</h3>
<a href="/city" class="btn btn-success">Create city</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Tariff</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
       @foreach(var city in cities)
        {
            <tr>
                <th scope="row">
                    @city.Name
                </th>
                <td>
                    @city.Code
                </td>
                <td>
                    @city.Tariff
                </td>
                <td>
                    <a href="city/@city.Id" class="btn btn-info">Edit city</a>
                </td>
                <td>
                    <a href="delete/@city.Id" class="btn btn-danger">Delete city</a>
                </td>
            </tr>
        }
  </tbody>
</table>
@code {
    List<City> cities = new List<City>();

    protected override async Task OnInitializedAsync()
    {
        cities = await cityServices.GetCities();
    }
}
