@page "/abonent"
@using lb6.Data
@inject AbonentServices abonentServices
@inject NavigationManager navigationManager
<h3>Create</h3>
<EditForm Model="abonent" OnValidSubmit="CreateA">
    <div class="form-group row">
	  <label>FirstName</label>
	  <div class="col-sm-8">
		  <InputText @bind-Value="abonent.FirstName" />
	  </div>
  </div>
  <div class="form-group row">
		<label>LastName</label>
		<div class="col-sm-8">
			<InputText @bind-Value="abonent.LastName" />
		</div>
  </div>
   <div class="form-group row">
		<label>Surname</label>
		<div class="col-sm-8">
			<InputText @bind-Value="abonent.SurName"/>
		</div>
  </div>
  <div class="form-group row">
		<label>Address</label>
		<div class="col-sm-8">
			<InputText @bind-Value="abonent.Address"/>
		</div>
  </div>
  <div class="form-group row">
		<label>Phone Number</label>
		<div class="col-sm-8">
			<InputText @bind-Value="abonent.PhoneNumber"/>
		</div>
  </div>
  <div class="col-sm-8 pt-2">
	  <button type="submit">Add abonent</button>
  </div>
</EditForm>
@code {
	private Abonent abonent = new Abonent();

	protected override async Task OnInitializedAsync()
	{
		
	}

	private async Task CreateA()
	{
		await abonentServices.Create(abonent);
		navigationManager.NavigateTo("/abonents");
	} 
}
